[submodule "roles/Dynatrace-Agents"]
	path = roles/dynatrace.Dynatrace-Agents
	url = https://github.com/dynaTrace/Dynatrace-Agents-Ansible
[submodule "roles/Dynatrace-Collector"]
	path = roles/dynatrace.Dynatrace-Collector
	url = https://github.com/dynaTrace/Dynatrace-Collector-Ansible
[submodule "roles/Dynatrace-Fixpack"]
	path = roles/dynatrace.Dynatrace-Fixpack
	url = https://github.com/dynaTrace/Dynatrace-Fixpack-Ansible
[submodule "roles/Dynatrace-License"]
	path = roles/dynatrace.Dynatrace-License
	url = https://github.com/dynaTrace/Dynatrace-License-Ansible
[submodule "roles/Dynatrace-Plugin"]
	path = roles/dynatrace.Dynatrace-Plugin
	url = https://github.com/dynaTrace/Dynatrace-Plugin-Ansible
[submodule "roles/Dynatrace-Server"]
	path = roles/dynatrace.Dynatrace-Server
	url = https://github.com/dynaTrace/Dynatrace-Server-Ansible
[submodule "roles/Dynatrace-WebServer-Agent"]
	path = roles/dynatrace.Dynatrace-WebServer-Agent
	url = https://github.com/dynaTrace/Dynatrace-WebServer-Agent-Ansible
[submodule "roles/Dynatrace-Java-Agent"]
	path = roles/dynatrace.Dynatrace-Java-Agent
	url = https://github.com/dynaTrace/Dynatrace-Java-Agent-Ansible
[submodule "roles/Dynatrace-Tomcat-Agent"]
	path = roles/dynatrace.Dynatrace-Tomcat-Agent
	url = https://github.com/dynaTrace/Dynatrace-Tomcat-Agent-Ansible
[submodule "roles/Dynatrace-Apache-HTTPServer-Agent"]
	path = roles/dynatrace.Dynatrace-Apache-HTTPServer-Agent
	url = https://github.com/dynaTrace/Dynatrace-Apache-HTTPServer-Agent-Ansible.git
[submodule "roles/Dynatrace-Client"]
	path = roles/dynatrace.Dynatrace-Client
	url = https://github.com/dynaTrace/Dynatrace-Client-Ansible.git
[submodule "roles/dynatrace.Dynatrace-Glassfish-Agent"]
	path = roles/dynatrace.Dynatrace-Glassfish-Agent
	url = https://github.com/dynaTrace/Dynatrace-Glassfish-Agent-Ansible.git
