---
- name: Update APT cache
  apt:
    update_cache: yes
  ignore_errors: yes
  become: yes

- name: Check if 'java' is on the PATH
  shell: which java
  register: which_java_cmd
  ignore_errors: yes
  become: yes

- name: Install package 'default-jre-headless'
  apt:
    pkg: default-jre-headless
  register: java_install
  when: which_java_cmd.rc != 0
  become: yes
